<div add-travelplan-controller>
    <div class="row">
      <div class="col-xs-4">Name</div>
      <div class="col-xs-8">
         <input type="text" class="form-control" ng-model="tp2.name" placeholder="Enter a name">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">From</div>
      <div class="col-xs-8">
        <input type="text" class="form-control" ng-model="tp2.fromAsString" placeholder="dd.MM.yyyy">
      </div>
    </div>

    <div class="row">
      <div class="col-xs-4">To</div>
      <div class="col-xs-8">
        <input type="text" class="form-control" ng-model="tp2.toAsString" placeholder="dd.MM.yyyy">
      </div>
    </div>
    
    <div class="row col-xs-12">
      <button type="button" class="btn btn-primary" ng-click="tp2.add()">Add</button>
      <button type="button" class="btn btn-warning" ng-click="tp2.cancel()">Cancel</button>
    </div>
</div>