<div todo-planner-controller>
  <div class="form-group">
      <a href="#/add" class="btn btn-primary" role="button">Add....</a>
  </div>

  <table class="table">
    <tr>
      <th>Name</th>
      <th>Von</th>
      <th>Bis</th>
      <th></th>
    </tr>
    <tr ng-repeat="plan in tp.plans">
      <td>{{ plan.name }}</td>
      <td>{{ plan.getFromAsDate() }}</td>
      <td>{{ plan.getToAsDate() }}</td>
      <td>
        <button type="button" class="btn btn-danger" ng-click="tp.delete(plan.name)">Delete</button>
      </td>
    </tr>
  </table>

</div>