<div>
  <div class="form-group">
      <button class="btn btn-primary" role="button" ng-click="tp.addNew()">Add....</button>
  </div>

  <table class="table table-hover">
    <tr>
      <th>Name</th>
      <th>Von</th>
      <th>Bis</th>
      <th></th>
    </tr>
    <tr ng-repeat="plan in tp.plans">
      <td ng-click="tp.edit(plan)">{{ plan.name }}</td>
      <td ng-click="tp.edit(plan)">{{ plan.from }}</td>
      <td ng-click="tp.edit(plan)">{{ plan.to }}</td>
      <td>
        <button type="button" class="btn btn-danger" ng-click="tp.delete(plan)">Delete</button>
      </td>
    </tr>
  </table>

  <span ng-show="tp.plans.length == 0">Loading...</span>
</div>